<form class="form" [formGroup]="form" (ngSubmit)="submit()">

  <mat-card class="bid-card">

    <mat-card-header>
      <mat-card-title>Bid recommender</mat-card-title>
      <mat-card-subtitle>Enter hand and bidding</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="form-layout">

      <!-- Hand -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Hand</mat-label>
        <textarea
          matInput
          rows="4"
          formControlName="hand">
        </textarea>
      </mat-form-field>

      <!-- Auction -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Auction</mat-label>
        <input
          matInput
          formControlName="bidding">
      </mat-form-field>

      <!-- System -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>System</mat-label>

        <mat-select formControlName="system">
          <mat-option value="POLISH_CLUB">Polish Club</mat-option>
          <mat-option value="STANDARD_AMERICAN">Standard American</mat-option>
        </mat-select>

      </mat-form-field>

      <!-- RESULT -->
      <div class="result" *ngIf="result() as r">

        <div class="bid">
          {{ r.bid }}
        </div>

        <p class="text-muted">
          {{ r.explanation }}
        </p>

      </div>

    </mat-card-content>

    <mat-card-actions align="end">

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loading()"
      >
        {{ loading() ? 'Calculating...' : 'Calculate' }}
      </button>

      <button
        mat-button
        type="button"
        (click)="reset()"
      >
        Reset
      </button>

    </mat-card-actions>

  </mat-card>

</form>
