@use '@angular/material' as mat;

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$rose-palette,
    tertiary: mat.$magenta-palette,
  ),
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$green-palette,
    tertiary: mat.$spring-green-palette,
  ),
));

html {
  @include mat.all-component-themes($light-theme);
}

html.dark-theme {
  @include mat.all-component-themes($dark-theme);
}

mat-form-field {
  width: 100%;
}

html {
  background: var(--mat-toolbar-container-background-color, var(--mat-sys-surface));
}

.mat-mdc-card-title {
  color: var(--mat-card-subtitle-text-color, var(--mat-sys-on-surface));
}
