@use '@angular/material' as mat;

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$red-palette,
    tertiary: mat.$orange-palette,
  ),
  typography: (
    brand-family: 'Georgia, Times New Roman, serif'
  )
));

@include mat.all-component-themes($theme);
