<form class="form" [formGroup]="form" (ngSubmit)="submit()">

  <mat-card class="bid-card">

    <!-- HEADER -->
    <mat-card-header>
      <mat-card-title>Full bidding calculator</mat-card-title>
      <mat-card-subtitle>Enter hands and bidding sequence</mat-card-subtitle>
    </mat-card-header>

    <!-- CONTENT -->
    <mat-card-content class="form-layout">

      <!-- North -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>North</mat-label>
        <textarea matInput rows="4" formControlName="northHand">
        </textarea>
      </mat-form-field>

      <!-- South -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>South</mat-label>
        <textarea matInput rows="4" formControlName="southHand">
        </textarea>
      </mat-form-field>

      <!-- Bidding -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Bidding</mat-label>
        <textarea matInput rows="4" formControlName="bidding">
          </textarea>
      </mat-form-field>

      <!-- System -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>System</mat-label>

        <mat-select formControlName="system">
          <mat-option value="POLISH_CLUB">Polish Club</mat-option>
          <mat-option value="STANDARD_AMERICAN">Standard American</mat-option>
        </mat-select>

      </mat-form-field>

      <!-- RESULT -->
      @if (result(); as r) {
      <div class="result">
        <div class="bid">{{ r.bidding }}</div>
        <p class="text-muted">{{ r.explanation }}</p>
      </div>
      }

    </mat-card-content>

    <!-- ACTIONS -->
    <mat-card-actions>

      <button mat-raised-button color="primary" type="submit" [disabled]="loading()">
        {{ loading() ? 'Calculating...' : 'Calculate' }}
      </button>

      <button mat-button type="button" (click)="reset()">
        Reset
      </button>

    </mat-card-actions>

  </mat-card>

</form>